*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('../src/Arquivos/BkLight.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(0.9vh);
  color: #050607;
  overflow: hidden;
}
body::-webkit-scrollbar{
  width: 0px;
}
input[type="checkbox"] {
  display: none;
}
.bi {
  font-size: 1.3rem;
  cursor: pointer;
}
.bi-moon {
  display: none;
}
.dark{
  background-image: url('../src/Arquivos/BkNight.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(0.9vh); 
  color: #fff;
  overflow: hidden;
}
.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number]{ 
 -moz-appearance: textfield;
 appearance: textfield;
}